<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="logofhealth.com.kenny">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="logofhealth.com.kenny.menu.MainMenu"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="logofhealth.com.kenny.menu.RecipeMenu"
            android:label="Recipes"
            android:theme="@style/RecipeTheme"></activity>

        <activity
            android:name="logofhealth.com.kenny.menu.ExerciseMenu"
            android:label="Exercise"
            android:theme="@style/ExerciseTheme"></activity>

        <activity
            android:name=".recipe.DisplayRecipeDetail"
            android:label=""
            android:theme="@style/DisplayTheme"></activity>
    </application>

</manifest>
